# All files owned by Product Engineering team
* @ethena-labs/product-engineering

# Sensitive repo settings and workflows owned by admins
.github/workflows/* @deHB6 @FJ-Riveros
.github/CODEOWNERS @deHB6 @FJ-Riveros
