# All files owned by Product Engineering team
* @ethena-labs/product-engineering

# Sensitive repo settings and workflows owned by admins
.github/workflows/* @alexnimmo @deHB6
.github/CODEOWNERS @alexnimmo @deHB6
